
//Vuetify
//$heading-font-family: "Chakra Petch", sans-serif;
$heading-font-family: 'Odibee Sans', sans-serif;
$body-font-family: 'Source Sans Pro', sans-serif;
//Vuetify
@import "~vuetify/src/styles/styles.sass";

//Font
//@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Chakra+Petch:300,300i,400,400i,500,500i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

//Custom
@import "components/_all.scss";

//The Event
$timeline-divider-center: 33% !default;


h1, h2, h3, h4, h5, h6 {
    font-family: 'Odibee Sans', sans-serif;
}